button {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.buttonState {
  transform: scale(1.3);
  margin-right: 0.5em;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  top: -48px;
  right: 0;
}

.buttonDelete {
  background-color: rgba(196, 10, 10, 0.513);
  cursor: pointer;
}

.buttonDelete:hover {
  background-color: rgb(150, 2, 2);
}

.buttonState svg {
  cursor: pointer;
  fill: rgb(147, 147, 147);
  stroke: rgb(0, 0, 0);
  stroke-width: 1.5px;
}

.buttonState:hover svg {
  cursor: pointer;
  fill: rgb(79, 203, 79);
  stroke-width: 1.5px;
}
