.navContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .navContainer {
    padding: 0;
    padding-top: 5px;
    display: grid;
    grid-template-columns: 30% 1fr 25%;
  }
  button {
    transform: scale(0.8);
  }
  .navContainer > * {
    margin: 0;
  }
}
