.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@media screen and (max-width: 768px) {
    .navContainer {
        padding: 0;
    }
    button, button:hover {
        transform: scale(0.8);
    }
}