.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    width: 90%;
    height: 80px;
    border-radius: 12px;
    background-color: #998e8e;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.201);
    margin: 10px auto;
    border: 1px solid #2a2a2a;
    overflow: hidden;
}

.movieContainer {
    display: flex;
    height: 100%;
    width: 80%;
    align-items: center;
    gap: 0.5em;
}

.imgContainer {
    width: auto;
    height: 100%;
    overflow: hidden;
}

.imgContainer img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detailsContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
}

.detailsContainer p{
    margin: 0;
}

.title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}


.buttonsContainer {
    position: absolute;
    display: flex;
    bottom: 0; right: 0;
    padding: 0.6em;
    gap: 8px;
    align-items: center;
}

.button {
    background-color: #292929;
    border: 1px solid #444;
    color: #fff;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #3a3a3a;
    transform: scale(1.05);
}

.starIcon {
    fill: rgba(255, 230, 0, 0.873);
    stroke: none;
}

.ratingContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: larger;
}

@media screen and (max-width: 768px) {
    button {
        transform: scale(0.9);
    }

}

