.card{
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;
    align-items: center;
    width: 90%;
    border: 1px solid white;
    border-radius: 12px;
}
.buttons {
    display: flex;
    width: 40%;
    justify-content: space-between;
}