.container{

    width: 2rem;
    height: 2rem;
    border: solid 2px black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;

}
.number{
    font-size: 1.5rem;
}